<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
	<add key="applicationPath" value="http://location.visionindiaapp.com/default.aspx"/>
    <add key="GoogleAPIKey" value="AIzaSyCjtwO-BbfLqRByGYihn5aOkz2l9YO81-A"/>
  </appSettings>
  <connectionStrings>
	  <add name="VisionTime_Conn" connectionString="Data Source=LAP-A11-AMIT-70;Initial Catalog=StudentAttendanceDb;Password=12345;User ID=sa;max pool size =5000" providerName="System.Data.SqlClient"/>
    <!--<add name="VisionTime_Conn" connectionString="Data Source=209.126.106.197,1197;Initial Catalog=Staffing_ejoining;Password=8s3S*kt8VIA1916;User ID=VISIONINDIANew;max pool size =5000" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="app_index.aspx">
      <error statusCode="404" redirect="app_index.aspx"/>
      <error statusCode="500" redirect="app_index.aspx"/>
      <error statusCode="403" redirect="app_index.aspx"/>
    </customErrors>
    <globalization uiCulture="hi-IN" culture="hi-IN"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.1" >
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <sessionState timeout="525600"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="admin-login.aspx" />
            <error statusCode="404" redirect="admin-login.aspx" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ctrl" tagName="AdminPanel" src="~/controls/AdminPanel.ascx"/>
        <add tagPrefix="ctrl" tagName="SecurityLevels" src="~/controls/security_levels.ascx"/>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <authentication mode="Forms"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="app_index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>